extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          | Mekanbul 
          small &nbsp; Yakınlarındaki Mekanları Bul!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Antre Cadde
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 2km
        p.adress Isparta 
        p
          span.label.label-warning Güvenilir 
          | &nbsp;
          span.label.label-warning Kaliteli
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 3km
        p.adress İYAŞ AVM 
        p
          span.label.label-warning Kahve
          | &nbsp;
          span.label.label-warning Sıcak 
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item      
        h4 
          a(href='/mekan') Paradiso Pizza 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 4km
        p.adress Isparta
        p
          span.label.label-warning Paket servisi
          | &nbsp;
          span.label.label-warning Temassız teslimat
          
            
                      
                  
                    
         

